<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<script>
var myApp=angular.module('myApp',[]);
myApp.controller("myController", function ($scope, $window)
{
$scope.DisplayMessage=function(value)
{
$window.alert("Your Password  "+value)
}
});
</script>
<body ng-app="myApp">
<div ng-controller="myController">
Enter Password: <input type="password" ng-model="pass"/> <br/>
<button ng-click="DisplayMessage(pass)"> Show Password</button>
</div>
</body>
</html>
