<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>   
</head>
    <body ng-app="">
        <h1>first angular js application</h1>
        Enter numbers to multiply:
        <input type="text" ng-model="num1"/> x <input type="text" ng-model="num2"/>
        = <span> {{num1 * num2}} </span>
    </body>
</html>